@media only screen and (max-width: 576px) {
	.products {
		& > .category-name {
			display: flex;
			justify-content: center;
		}

		& > .card-container {
			& > .card {
				padding: 3vw;
				width: 80vw;
				text-align: center;

				& > .btns {
					flex-direction: column;

					& > p.price {
						padding: 2vw;
						margin-bottom: 2vw;
					}

					& > button {
						padding: 2vw;
						margin-bottom: 2vw;
					}
				}

				& > a.details {
					padding: 1.5vw 0vw;
				}
			}
		}
	}
}
