@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
@import './variables';
@import './mediaqueries';

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
}
body {
	font-family: 'Hind Siliguri', sans-serif;
	padding: 1.5vw;
	position: relative;
}

h1.header {
	text-align: center;
	font-weight: 700;
	font-size: 200%;
}

a.category-name {
	text-decoration: none;
	color: $color-blue;
	font-size: 150%;
	text-align: left;
	margin-left: 15px;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-top: 1.2vw;

	& > .card {
		min-width: 150px;
		width: 10vw;

		padding: 1vw;
		box-shadow: 0 0.1vw 0.5vw rgba(0, 0, 0, 0.2);
		border-radius: 1vw;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-right: 10px;
		margin-bottom: 30px;

		& > img {
			width: 100%;
			align-self: center;
			margin-bottom: 1vw;
		}

		& > p.name {
			color: $color-blue;
			font-weight: 700;
			font-size: 120%;
			margin-bottom: 1.5vw;
		}

		& > .btns {
			display: flex;
			margin-bottom: 1.5vw;
			justify-content: space-between;

			& > p.price {
				color: $color-white;
				background-color: $color-grey;
				transition: all 200ms;
				padding: 0.5vw 1.3vw;
				cursor: pointer;
				border-radius: 0.4vw;
				font-size: 100%;
				font-weight: 600;

				&:hover {
					background-color: darken($color-grey, 10%);
				}
			}

			& > button {
				padding: 2% 10%;
				cursor: pointer;
				border-radius: 0.4vw;
				font-size: 100%;
				border: none;
				background-color: $color-blue;
				color: $color-white;
				font-weight: 600;
				transition: all 300ms;

				&:hover {
					background-color: darken($color-blue, 10%);
				}
			}
		}

		& > a.details {
			border: 1px solid $color-black;
			width: 100%;
			padding: 0.6vw 0;
			border-radius: 0.5vw;
			font-weight: 600;
			text-align: center;
			cursor: pointer;
			transition: all 200ms;

			&:hover {
				background-color: $color-black;
				color: $color-white;
			}
		}
	}

	p.id {
		display: none;
	}
}

.cart-container {
	position: fixed;
	right: 0;
	top: 50%;

	display: flex;
	transition: all 300ms;
	// transform: translateX(20.2vw);

	& > .shopping-cart {
		height: 2vw;
		min-height: 35px;
		padding: 0.7vw;
		border-radius: 0.3vw;
		border: 1px solid $color-blue;
		cursor: pointer;

		transition: all 300ms;
		margin-right: 0.2vw;
		background: lighten($color-blue, 5%);
		fill: $color-white;

		&:hover {
			background: $color-blue;
		}
	}

	& > .cart {
		width: 20vw;
		min-width: 350px;
		height: 100vh;
		border: 1px solid lighten(black, 70%);
		border-right: none;
		background: #fff;
		transform: translateY(-50%);

		font-size: 110%;
		// padding-left: 5%;
		& > * {
			margin-left: 5%;
		}

		& > h1 {
			margin-top: 10%;
			color: $color-blue;
			text-align: center;
			font-size: 150%;
		}

		& > button {
			margin-top: 10%;
			padding: 2%;
			border-radius: 0.5vw;
			color: $color-white;
			border: none;
			background-color: darken($color-red, 5%);
			cursor: pointer;
			transition: all 200ms;

			&:hover {
				background-color: darken($color-red, 10%);
			}
		}
	}
}

.logo {
	width: 200px;
	height: 164px;
	fill: aqua;
}

.hidden {
	transform: translateX(85%) !important;
}
